<div id="Example">
  <h1>{{text.title}}</h1>
  <div class="text-container">
    <span>{{text.summary}}</span>
  </div>
<!--   <div class="source-code-container">
    <p>{{text.sourceCode}}</p>
  </div> -->
</div>