<div id="Landing">
  <a href="https://github.com/Jam3/scroll-manager">
  <img style="position: absolute; top: 0; left: 0; border: 0;" src="assets/images/fork-me-on-github.png" 
  alt="Fork me on GitHub"></a>
  <div class="view-container">
    <div id="landing"></div>
    <div id="firstExample"></div>
    <div id="secondExample"></div>
    <div id="thirdExample"></div>
    <div id="forthExample"></div>
    <div id="fifthExample"></div>
    <div id="sixthExample"></div>
    <div id="bottomExample"></div>
  </div>
  <div id="callback-banner">
    <h1 id="banner-text">I´m a callback!!</h1>
  </div>
</div>