<div id="LandingView">
  <h1>{{text.title}}</h1>
  <div class="text-container">
    <span>{{text.summary.start}}</span>
    <span class="console">{{text.summary.console}}</span>
    <span>{{text.summary.end}}</span>
  </div>
</div>